header {
  height: 100px;
  background-color: #444;
  width: 100%;
}

body {
  width: 100%;
}

nav {
  height: 70px; 
}

nav img {
  display: inline-block;
  margin: 15px;
  margin-left: 60px;
}

.nav {
  display: inline-block;
  vertical-align: top;
}

nav li {
  display: inline-block;
  line-height: 70px;
  padding: 0 45px; 
}

.mainimg {
  width: 960px;
  display: block;
  margin-left: 60px;
  margin-right: 60px; 
  margin-top: 30px;
}

#groupimg {
  display: inline-block;
  margin-top: 30px;
  margin-left: 45px; 
  margin-bottom: 30px;
}

main li {
  display: inline-block;
  padding: 0 15px;
}

#imgsection {
  margin-bottom: 30px;
  display: inline-block;
}

section img {
  margin-left: 60px;
}

#headline {
  text-align: top;
  margin-top: 0px; 
  float: left;
  width: 100%;
  text-align: left; 
}

#text {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 30px; 
  width: 480px;
  height: 340px; 
  overflow-y: scroll; 
}

button { 
  position: absolute; 
  background-color: #ddd;
  color: black; 
  font-size: 1em; 
  margin-top: 360px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 35px; 
  padding-left: 35px;
  box-sizing: border-box;
  border-radius: 10%;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #444;
}